@model MZ_Jewellers.Models.Jeweller

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Jeweller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.jeweller_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jeweller_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jeweller_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jeweller_password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.jeweller_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
