
@{
    ViewData["Title"] = "Login";
    Layout = null;

}

@if (TempData["LoginError"] != null)
{
    <div class="alert alert-danger">
        @TempData["LoginError"]
    </div>
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jewellery Management System</title>
    <link href="~/assests/css/Login.css" rel="stylesheet">

    <link href="~/assests/lib/fontawesome-free/css/all.min.css"
          rel="stylesheet"
          type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet" />
    

</head>
<body>
    <section>
        <div class="main-form-container">
            <div id="form_section" class="form-container">
                <div class="login-form form-wraper ">
                    <div>

                        <div class="form-title">
                            <h2>Jeweller Login</h2>
                        </div>

                        <div class="input-group">
                            <div class="box">
                                <span>
                                    <input id="Jeweller_uname" placeholder="Enter User Name" class="myInput" type="text" required />
                                </span>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="box">
                                <span>
                                    <input id="Jeweller_pwd" placeholder="Enter Password" class="myInput" type="password" required />
                                </span>
                            </div>
                        </div>
                        <div class="action-button">
                            <button type="button" onclick="JewellerLogin()">Login</button>
                        </div>

                    </div>
                </div>
                <div class="signUp-form form-wraper">
                    <div>

                            <div class="form-title">
                                <h2>Vendor Login</h2>
                            </div>

                            <div class="input-group">
                                <div class="box">
                                    <span>
                                        <input id="Vendor_email" placeholder="Enter your Email" class="myInput" type="email" required />
                                    </span>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="box">
                                    <span>
                                        <input id="Vendor_pwd" placeholder="Enter Password" class="myInput" type="password" required />
                                    </span>
                                </div>
                            </div>
                            <div class="action-button">
                                <button type="button" onclick="VendorLogin()">Login</button>
                            </div>
                        
                    </div>
                </div>
            </div>
            <div id="multiple-btn" class="bg-btn-container">
                <div class="action-button">
                    <button>Jeweller</button>
                </div>
                <div class="action-button">
                    <button>Vendor</button>
                </div>
            </div>

        </div>

        }
    </section>



    <script>
        const inputs = document.querySelectorAll("input");
        inputs.forEach(function (input) {
            input.addEventListener("focus", function () {
                const parentElement = input.parentElement.parentElement;
                parentElement.classList.add("box-animation");
            });
            input.addEventListener("blur", function () {
                const parentElement = input.parentElement.parentElement;
                parentElement.classList.remove("box-animation");
            });
        });

        const buttons = document.querySelectorAll("#multiple-btn button");
        const form_container = document.getElementById('form_section')
        buttons.forEach((button) => {
            button.addEventListener("click", () => {
                form_container.classList.toggle("left-right");

            });
        });



function JewellerLogin(){

    var uname = document.getElementById("Jeweller_uname").value;
    var pwd = document.getElementById("Jeweller_pwd").value;
    var temp = false;
    $.ajax({
        type: 'POST',
        url: '@Url.Action("JewellerLogin", "Accounts")',
        data: { uname: uname, pwd: pwd},
        success: function (result) {
            // If login is successful, redirect to index page
            if(result.success) {
                window.location.href = "@Url.Action("Index", "Wholesaler")";
            } else {
                // If login fails, show an alert box with the error message
                alert(result.errorMessage);
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
            // If there is an error in the AJAX call, show an alert box with the error message
            alert("Error: " + textStatus);
        }
    });


        }

function VendorLogin(){

    var email = document.getElementById("Vendor_email").value;
    var pwd = document.getElementById("Vendor_pwd").value;
    var temp = false;
    $.ajax({
        type: 'POST',
        url: '@Url.Action("VendorLogin", "Accounts")',
        data: { email: email, pwd: pwd},
        success: function (result) {
            // If login is successful, redirect to index page
            if(result.success) {
                window.location.href = "@Url.Action("Index", "Vendor")";
            } else {
                // If login fails, show an alert box with the error message
                alert(result.errorMessage);
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
            // If there is an error in the AJAX call, show an alert box with the error message
            alert("Error: " + textStatus);
        }
    });


        }


    </script>

    <script type="text/javascript" src="/assests/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assests/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assests/lib/jquery-easing/jquery.easing.min.js"></script>

</body>
</html>
