
@{
    ViewBag.Title = "GRN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="table-responsive bg-white">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Purchase Order No.</th>
                            <th scope="col">Vendor Name</th>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col">Receiving Date</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            for (int i = 0; i < ViewBag.GRN.Count; i++)
                            {
                                <tr>
                                    <td>@ViewBag.GRN[i].order_id</td>
                                    <td>@ViewBag.GRN[i].vendor_name</td>
                                    <td>@ViewBag.GRN[i].prd_name</td>
                                    <td>@ViewBag.GRN[i].prd_quantity</td>
                                    <td>@ViewBag.GRN[i].prd_unit</td>
                                    <td>@ViewBag.GRN[i].total_amount</td>
                                    <td>@ViewBag.GRN[i].receiving_date.Date.ToString("d")</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
