
@{
    ViewData["Title"] = "Purchase Orders";
}


<div class="container">

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="table-responsive bg-white">
                <table class="table mb-0" id="tblstudentDetails">
                    <thead>
                        <tr>
                            <th scope="col">Order no</th>
                            <th scope="col">Company</th>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Buyer</th>
                            <th scope="col">Vendor Name</th>
                            <th scope="col">Order Deadline</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Invoice</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int j = 0;
                            for (int i = 0; i < ViewBag.Payment.Count; i++)
                            {

                                var Order = ((List<MZ_Jewellers.Models.PurchaseOrder>)ViewBag.Orderlist).Find(item => item.order_id == ViewBag.Payment[i].order_id);
                                var Vendor = ((List<MZ_Jewellers.Models.Vendor>)ViewBag.Vendorlist).Find(item => item.vendor_id == Order.vendor_id);
                                var Req = ((List<MZ_Jewellers.Models.Quotation_Request>)ViewBag.Reqlist).Find(item => item.req_id == ViewBag.Payment[i].order_id);
                                var payment = ((List<MZ_Jewellers.Models.Payment>)ViewBag.Payment).Find(item => item.payment_type == "Full Payment" && item.order_id == ViewBag.Payment[i].order_id);

                                int? a = 0;

                                if (ViewBag.Payment != null)
                                {
                                    a = ((List<MZ_Jewellers.Models.Payment>)ViewBag.Payment).Find(item => item.payment_type == "Full Payment" && item.order_id == ViewBag.Payment[i].order_id)?.order_id;
                                }
                                if (@ViewBag.Payment[i].order_id == a && @ViewBag.Payment[i].payment_type == "Full Payment")
                                {
                                    j++;
                                    <tr id="trr">
                                        <td>@Order.order_id</td>
                                        <th scope="row" style="color: #666666;">MZ Jewellers</th>
                                        <td>Gold</td>
                                        <td>@Req.prd_quantity</td>
                                        <td>@Session["JewellerName"]</td>
                                        <td>@Vendor.vendor_name</td>
                                        <td>@Req.order_deadline.Date.ToString("d")</td>
                                        <td>@Order.total_amount</td>
                                        <td>Delivered</td>

                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#InvoiceModal" onclick="myf('@ViewBag.Payment[i].order_id','@Req.prd_quantity','@Vendor.vendor_name','@Req.order_deadline.Date.ToString("d")','Full Payment','@Order.total_amount')">Invoice</button> @*,'@Session["JewellerName"]',,@Req.order_deadline.Date.ToString("d"),'Full Payment','@Order.total_amount'*@
                                        </td>


                                    </tr>
                                }

                                else if (@ViewBag.Payment[i].order_id != a && @ViewBag.Payment[i].payment_type == "Advance")
                                {

                                    j++;
                                    <tr id="trr">

                                        <td>@Order.order_id</td>
                                        <th scope="row" style="color: #666666;">MZ Jewellers</th>
                                        <td>Gold</td>
                                        <td>@Req.prd_quantity</td>
                                        <td>@Session["JewellerName"]</td>
                                        <td>@Vendor.vendor_name</td>
                                        <td>@Req.order_deadline.Date.ToString("d")</td>
                                        <td>@Order.total_amount</td>
                                        <td>Pending</td>

                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#InvoiceModal" onclick="myf('@ViewBag.Payment[i].order_id','@Req.prd_quantity','@Vendor.vendor_name','@Req.order_deadline.Date.ToString("d")','Advance','@Order.total_amount')">Invoice</button> @*,'@Session["JewellerName"]',,@Req.order_deadline.Date.ToString("d"),'Full Payment','@Order.total_amount'*@
                                        </td>

                                    </tr>

                                }



                            }

                            <!-- Invoice Modal -->
                    <div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="invoiceModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="invoiceModalLabel">Invoice</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <h6>Order no:</h6>
                                            <p id="p_order_no"></p>
                                        </div>
                                        <div class="col-md-6">
                                            <h6>Order Deadline:</h6>
                                            <p id="p_order_deadline"></p>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <h6>Buyer:</h6>
                                            <p id="p_buyer"></p>
                                        </div>
                                        <div class="col-md-6">
                                            <h6>Vendor:</h6>
                                            <p id="p_vendor"></p>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <h6>Product:</h6>
                                            <p id="p_product">Gold</p>
                                        </div>
                                        <div class="col-md-6">
                                            <h6>Description:</h6>
                                            <p id="p_desc">Raw Material</p>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <h6>Quantity:</h6>
                                            <p id="p_qty"></p>
                                        </div>
                                        <div class="col-md-6">
                                            <h6>Total Amount:</h6>
                                            <p id="p_amount"></p>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <h6>Payment Type:</h6>
                                            <p id="p_payment_type"></p>
                                        </div>
                                        <div class="col-md-6">
                                            <h6>Status:</h6>
                                            <p id="p_status">Paid</p>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <h6>Paid Amount:</h6>
                                            <p id="p_paid_amount"></p>
                                        </div>
                                        @*<div class="col-md-6">
                                            <h6>Remaining Balance:</h6>
                                            <p id="p_remaining_balance"></p>
                                        </div>*@
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    //, buyer,vendor,order_deadline,payment_type,amount
    function myf(order_id, qty, vendor, order_deadline, payment_type, amount) {


        document.getElementById('p_order_no').innerHTML = order_id;
        document.getElementById('p_qty').innerHTML = qty;
        document.getElementById('p_buyer').innerHTML = '@Session["JewellerName"]';
        document.getElementById('p_vendor').innerHTML = vendor;
        document.getElementById('p_order_deadline').innerHTML = order_deadline;
        document.getElementById('p_payment_type').innerHTML = payment_type;
        document.getElementById('p_amount').innerHTML = amount + " Rs";

        if (payment_type == "Full Payment") {

            document.getElementById('p_paid_amount').innerHTML = (amount * 80) / 100;
            document.getElementById('p_remaining_balance').innerHTML = 0;
        }
        else {
            document.getElementById('p_paid_amount').innerHTML = (amount * 20) / 100;
 //           document.getElementById('p_remaining_balance').innerHTML = (amount * 80) / 100;
        }
        


        }

</script>

