
@{
    ViewData["Title"] = "Purchase Orders";
}


<div class="container">

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="table-responsive bg-white">
                <table class="table mb-0" id="tblstudentDetails">
                    <thead>
                        <tr>
                            <th scope="col">Order no</th>
                            <th scope="col">Company</th>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Buyer</th>
                            <th scope="col">Vendor Name</th>
                            <th scope="col">Order Deadline</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Invoice</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int j = 0;
                            for (int i = 0; i < ViewBag.Payment.Count; i++)
                            {

                                var Order = ((List<MZ_Jewellers.Models.PurchaseOrder>)ViewBag.Orderlist).Find(item => item.order_id == ViewBag.Payment[i].order_id);
                                var Vendor = ((List<MZ_Jewellers.Models.Vendor>)ViewBag.Vendorlist).Find(item => item.vendor_id == Order.vendor_id);
                                var Req = ((List<MZ_Jewellers.Models.Quotation_Request>)ViewBag.Reqlist).Find(item => item.req_id == ViewBag.Payment[i].order_id);
                                var payment = ((List<MZ_Jewellers.Models.Payment>)ViewBag.Payment).Find(item => item.payment_type == "Full Payment" && item.order_id == ViewBag.Payment[i].order_id);

                                int? a = 0;

                                if (ViewBag.Payment != null)
                                {
                                    a = ((List<MZ_Jewellers.Models.Payment>)ViewBag.Payment).Find(item => item.payment_type == "Full Payment" && item.order_id == ViewBag.Payment[i].order_id)?.order_id;
                                }
                                if (@ViewBag.Payment[i].order_id == a && @ViewBag.Payment[i].payment_type == "Full Payment")
                                {
                                    j++;
                                                <tr id="trr">
                                                    <td>@Order.order_id</td>
                                                    <th scope="row" style="color: #666666;">MZ Jewellers</th>
                                                    <td>Gold</td>
                                                    <td>@Req.prd_quantity</td>
                                                    <td>@Session["JewellerName"]</td>
                                                    <td>@Vendor.vendor_name</td>
                                                    <td>@Req.order_deadline.Date.ToString("d")</td>
                                                    <td>@Order.total_amount</td>
                                                    <td>Delivered</td>
                                                  
                                                    <td>
                                                        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal" onclick="myf('@ViewBag.Payment[i].order_id','@Order.total_amount',)">Received Goods</button>*@
                                                    </td>


                                                </tr>
                                }

                                else if (@ViewBag.Payment[i].order_id != a && @ViewBag.Payment[i].payment_type == "Advance")
                                {

                                    j++;
                                    <tr id="trr">

                                        <td>@Order.order_id</td>
                                                    <th scope="row" style="color: #666666;">MZ Jewellers</th>
                                                    <td>Gold</td>
                                                    <td>@Req.prd_quantity</td>
                                                    <td>@Session["JewellerName"]</td>
                                                    <td>@Vendor.vendor_name</td>
                                                    <td>@Req.order_deadline.Date.ToString("d")</td>
                                                    <td>@Order.total_amount</td>
                                                    <td>Pending</td>
                                                  
                                                    <td>
                                                        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal" onclick="myf('@ViewBag.Payment[i].order_id','@Order.total_amount',)">Received Goods</button>*@
                                                    </td>

                                    </tr>

                                }



                            }

                            <div class="modal fade" id="loginModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header border-bottom-0">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-title text-center">
                                                <h4>Make Purshase Order</h4>
                                            </div>
                                            <div class="d-flex flex-column text-center pt-3">
                                                <form>
                                                    <div class="form-group">
                                                        <h5>Have you received the good? If Yes then pay the 80% Remaining payment</h5>
                                                    </div>
                                                    <div class="form-group" id="advance-option">
                                                        <label for="amount">Remaining Payment</label>
                                                        <input type="number" class="form-control" id="amount" name="amount" value="200" disabled>
                                                    </div>


                                                    <button type="button" class="btn btn-info btn-block btn-round" onclick="Payment()">Pay</button>
                                                </form>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>

        var P_order_id= 0;
        var P_payment_type = "";
        var P_netprice = 0;

    function myf(order_id, amount) {

            P_order_id = order_id;
            P_payment_type = "Full Payment";
            P_netprice = Math.ceil(((amount) / 100) * 80);
        document.getElementById('amount').value = P_netprice;
        

        }

function Payment(){

        $.ajax({

            type: 'POST',
            url: '@Url.Action("PendingOrder", "Wholesaler")',
            data: { order_id: P_order_id, payment_type: P_payment_type, netprice:P_netprice },
            success: function(result) {
                    location.reload();
                },
            error: function(jqXHR, textStatus, errorThrown) {
                    // Handle errors, if needed
                }
            });

}


</script>

