
@{
    ViewBag.Title = "PendingOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="table-responsive bg-white">
                <table class="table mb-0" id="tblstudentDetails">
                    <thead>
                        <tr>
                            <th scope="col">Order no</th>
                            <th scope="col">Product</th>
                            <th scope="col">Description</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Order Deadline</th>
                            <th scope="col">Vendor Name</th>
                            <th scope="col">Payment Type</th>
                            <th scope="col">Remaining Amount</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int j = 0;
                            for (int i = 0; i < ViewBag.Payment.Count; i++)
                            {

                                var Order = ((List<MZ_Jewellers.Models.PurchaseOrder>)ViewBag.Orderlist).Find(item => item.order_id == ViewBag.Payment[i].order_id);
                                var Vendor = ((List<MZ_Jewellers.Models.Vendor>)ViewBag.Vendorlist).Find(item => item.vendor_id == Order.vendor_id);
                                var Req = ((List<MZ_Jewellers.Models.Quotation_Request>)ViewBag.Reqlist).Find(item => item.req_id == ViewBag.Payment[i].order_id);
                                var payment = ((List<MZ_Jewellers.Models.Payment>)ViewBag.Payment).Find(item => item.payment_type == "Full Payment" && item.order_id == ViewBag.Payment[i].order_id);

                                int? a = 0;

                                if (ViewBag.Payment != null)
                                {
                                    a = ((List<MZ_Jewellers.Models.Payment>)ViewBag.Payment).Find(item => item.payment_type == "Full Payment" && item.order_id == ViewBag.Payment[i].order_id)?.order_id;
                                }
                                if (@ViewBag.Payment[i].order_id != a && @ViewBag.Payment[i].payment_type == "Advance")
                                {
                                    j++;
                                    <tr id="trr">
                                        <td>@Req.req_id</td>
                                        <th scope="row" style="color: #666666;">Gold</th>
                                        <td>Raw Material</td>
                                        <td>@Req.prd_quantity</td>
                                        <td>@ViewBag.Prodlist[(int)@Req.prd_id - 1].prd_unit</td>
                                        <td>@Req.order_deadline.Date.ToString("d")</td>
                                        <td>@Vendor.vendor_name</td>
                                        <td>@ViewBag.Payment[i].payment_type</td>
                                        <td>@((Order.total_amount / 100) * 80)</td>
                                        <td>@Order.total_amount</td>

                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal" onclick="myf('@Vendor.vendor_name', '@ViewBag.Payment[i].order_id','@Order.total_amount', '@Req.prd_quantity', '@ViewBag.Prodlist[(int)@Req.prd_id - 1].prd_unit','@Vendor.vendor_acc_title','@Vendor.vendor_bank_name','@Vendor.vendor_acc_no')">Received Goods</button>
                                        </td>


                                    </tr>
                                }
                            }

                            <!-- Purshase Modal -->
                            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="invoiceModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="invoiceModalLabel">Make Purshase Order</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row mb-2">
                                                <div class="col-md-6">
                                                    <h6>Vendor:</h6>
                                                    <p id="p_vendor"></p>
                                                </div>
                                                <div class="col-md-6">
                                                    <h6>Account Title:</h6>
                                                    <p id="p_acc_title"></p>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col-md-6">
                                                    <h6>Bank Name:</h6>
                                                    <p id="p_bank_name"></p>
                                                </div>
                                                <div class="col-md-6">
                                                    <h6>Account Number:</h6>
                                                    <p id="p_acc_no"></p>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col-md-6">
                                                    <h6>Payment Amount:</h6>
                                                    <p id="p_payment"></p>
                                                </div>
                                            </div>

                                        </div>
                                        <h5 class="ml-3">If you want to accept this quotation response then pay the 80% advance payment</h5>
                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-secondary" onclick="Payment()" data-dismiss="modal">Pay</button>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>

        var P_vendor_name = "";
        var P_order_id= 0;
        var P_payment_type = "";
        var P_netprice = 0;
        var P_qty = 0;
        var P_unit = "";

    function myf(vendor, order_id, amount, qty, unit, vacctitle, vbankname, vaccnum) {

            P_vendor_name = vendor;
            P_unit = unit;
            P_qty = qty;
            P_order_id = order_id;
            P_payment_type = "Full Payment";
        P_netprice = Math.ceil(((amount) / 100) * 80);
        document.getElementById('p_vendor').innerHTML = vendor;
        document.getElementById('p_acc_title').innerHTML = vacctitle;
        document.getElementById('p_bank_name').innerHTML = vbankname;
        document.getElementById('p_acc_no').innerHTML = vaccnum;
        document.getElementById('p_payment').innerHTML = P_netprice;

        }

function Payment(){

        $.ajax({

            type: 'POST',
            url: '@Url.Action("PendingOrder", "Wholesaler")',
            data: { vendor_name: P_vendor_name, order_id: P_order_id, payment_type: P_payment_type, netprice: P_netprice, qty: P_qty, unit: P_unit },
            success: function (result) {
                    location.reload();
                    alert("Full Payment Done");
                },
            error: function(jqXHR, textStatus, errorThrown) {
                    // Handle errors, if needed
                }
            });

}


</script>
