
@{
    ViewBag.Title = "Vendors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Vendors</h4>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="table-responsive bg-white">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Contact</th>
                            <th scope="col">Cnic</th>
                            <th scope="col">Address</th>
                            <th scope="col">Bank Name</th>
                            <th scope="col">Account Title</th>
                            <th scope="col">Account No.</th>
                            <th scope="col">License No.</th>
                            <th scope="col">License Image</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            int i;
                            for (i = 0; i < ViewBag.Vendor.Count; i++)
                            {
                                if (@ViewBag.Vendor[i].vendor_status != "Verified")
                                {
                                    continue;
                                }

                                <tr>
                                    <td>@ViewBag.Vendor[i].vendor_name</td>
                                    <td>@ViewBag.Vendor[i].vendor_email</td>
                                    <td>@ViewBag.Vendor[i].vendor_contact</td>
                                    <td>@ViewBag.Vendor[i].vendor_cnic</td>
                                    <td>@ViewBag.Vendor[i].vendor_address</td>
                                    <td>@ViewBag.Vendor[i].vendor_bank_name</td>
                                    <td>@ViewBag.Vendor[i].vendor_acc_title</td>
                                    <td>@ViewBag.Vendor[i].vendor_acc_no</td>
                                    <td>@ViewBag.Vendor[i].vendor_licenseNo</td>

                                    <td>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#VendorImg" onclick="showVendorImage('@Url.Action("GetVendorImage", "Wholesaler", new { vendorId = @ViewBag.Vendor[i].vendor_id })')">License Image</button>
                                    </td>
                                </tr>
                            }

                            <div class="modal fade" id="VendorImg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">License Image</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <img style="max-width: 100%; max-height: 100%;" id="vendorImage" src="https://via.placeholder.com/150" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    function showVendorImage(url) {
        $('#vendorImage').attr('src', url);
    }


</script>
